# Local Terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log
*.log

# Ignore override files as they are usually used for local testing
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
tfplan

# Exclude dynamically generated archive files
*.zip
