# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# WARNING: Do NOT place any secrets (passwords, private keys, API keys, OAuth tokens)
# in this file. Secrets should be stored in Secret Manager and accessed dynamically.

project_id                                  = "${PROJECT_ID}"
deploy_cloud_build_triggers                 = true
deploy_cloud_run_services                   = true
set_cloud_run_audiences                     = true
custom_domain                               = "[YOUR_CUSTOM_DOMAIN]"
enable_ccai                                 = false
ccai_company_id                             = "[YOUR_CCAI_COMPANY_ID]"
ccai_host                                   = "[YOUR_CCAI_HOST_URL]"
github_app_installation_id                  = "[YOUR_GITHUB_APP_INSTALLATION_ID]"
github_oauth_token_secret_name              = "[YOUR_GITHUB_OAUTH_TOKEN_SECRET_NAME]"
manage_github_connection                    = false
cx_agent_studio_deployment_name             = "[YOUR_CX_AGENT_STUDIO_DEPLOYMENT_NAME]"
cx_agent_studio_upload_tool_name            = "[YOUR_CX_AGENT_STUDIO_UPLOAD_TOOL_NAME]"
cx_agent_studio_populate_content_tool_name  = "[YOUR_CX_AGENT_STUDIO_POPULATE_CONTENT_TOOL_NAME]"
cx_agent_studio_get_user_location_tool_name = "[YOUR_CX_AGENT_STUDIO_GET_USER_LOCATION_TOOL_NAME]"
use_external_identities                     = false
enable_blocking_functions                   = false
cloud_build_trigger_event                   = "push_to_branch"
voice_agent_video_model                     = "publishers/google/models/gemini-3.1-flash-live"
voice_agent_audio_model                     = "publishers/google/models/gemini-live-2.5-flash-native-audio"
cx_agent_studio_voice_agent_deployment_name = "[YOUR_CX_AGENT_STUDIO_CREDIT_SUPPORT_AGENT_DEPLOYMENT_ID]"
banking_service_db_pool_size                = 24
banking_service_db_max_overflow             = 16
banking_service_db_pool_timeout             = 5
banking_service_max_instance_request_concurrency = 32
data_generator_max_instance_request_concurrency  = 8
data_generator_request_timeout                   = "120s"
data_generator_swipe_workflow_concurrency       = 1
data_generator_cron_schedule                    = "* * * * *"
data_generator_pulse_window_seconds             = 55
data_generator_pulse_min_events                 = 1
data_generator_pulse_max_events                 = 2
additional_cors_allowed_origins                 = []
